<div class="container">
        <div class="row">
          <div class="col-md-1">
            <!--blank-->
          </div>
          <div class="col-md-5">
            <div class="panel panel-info">
              <div class="panel-heading-custom">
                <h2 class="panel-title">BACKGROUND</h2>
              </div>
              <div class="panel-body">
                <ul>
                  <li>I was born and raised in Idaho</li>
                  <li>Fortunate enough to grow up with Mother Nature as my back yard.</li>
                  <li>I was influenced by my mother who instilled a confident, independent and strong sense of self.</li>
                  <li>Completed my Masters in Architecture from University of Idaho in 2006</li>
                  <li>Moved immediately to Seattle where I worked for Collins Woerman for 3 years.</li>
                  <li>After finding my place professionally it was time to step away.  Joining the Peace Corps Romania program was one of the most self-expanding experiences I have ever had.</li>
                  <li>From there I entered the Polar Programs under the National Science Foundation to support science to work on my hands on skills.</li>
                  <li>Since then I have settled back into a professional path here in Portland, OR finding the balance for my love of nature with a desire to be part of an urban fabric and professional path.</li>
                  <li>I now foster that path with Epicodus Code schooling program with the hopes to become a true Developer and work with a like-minded and enthusiasic team.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="panel panel-info">
              <div class="panel-heading-custom">
                <h2 class="panel-title">INTERESTS</h2>
              </div>
              <div class="panel-body">
                <ul>
                  <li>The Outdoors</li>
                  <li>Human Psychology</li>
                  <li>Design and Systems</li>
                </ul>
              </div>
            </div>
            <div class="panel panel-info">
              <div class="panel-heading-custom">
                <h2 class="panel-title">HOBBIES</h2>
              </div>
              <div class="panel-body">
                <ul>
                  <li>Biking</li>
                  <li>Trekking</li>
                  <li>Cinema History</li>
                </ul>
              </div>
            </div>
            <div class="panel panel-info">
              <div class="panel-heading-custom">
                <h2 class="panel-title">SKILLZ</h2>
              </div>
              <div class="panel-body">
                <ul>
                  <li>Organization</li>
                  <li>Communication</li>
                  <li>Logistics</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-1">
            <!--blank-->
          </div>
        </div>
      </div>
      <div class="container4">
        <div class="footer">
          <p>Orange you glad I didn't say banana?</p>
        </div>
      </div>
