<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% if current_admin %>
  <%= current_admin.email %>
  <%= link_to 'log out', destroy_admin_session_path, method: :delete %>
<% else %>
  <%= link_to 'admin', new_admin_session_path %>
<% end %>
