<div class="container">
  <div class="main">
    <h6 class="white"><em>a lifestyle</em></h6>
    <div class="well">
      <div class="centerspacing">
        <h1><span id="h1special"><strong>1982</strong></span></h1>
      </div>
    </div>
  </div>
  <div class="centerspacingsub">
    <h5 class="centerspacingsub"><span class="white">-michaelallenbrooks-</span></h5>
  </div>
</div>
