<div id="gallery">

  <% for photo in @photos %>
    <div class="photo">
      <%= link_to photo.title, photo %>
      <%= link_to image_tag(photo.image.url), photo %>
      <%= link_to photo.text, photo %>
    </div>
  <% end %>
