<div class="container">
        <div class="row">
          <div class="col-md-1">
            <!--blank-->
          </div>
          <div class="col-md-5">
            <div class="panel panel-info">
              <div class="panel-heading-custom">
                <h2 class="panel-title">PROJECTS</h2>
              </div>
              <div class="panel-body">
                <ul>
                  <li><a href="https://github.com/MikeAlphaBravo/portfolio" target="_blank">Portfolio</a>
                    <dd>Live updated site of my portfolio and resume. Utilizing html, CSS and Bootstrap.</dd></li>
                  <li><a href="https://github.com/MikeAlphaBravo/wiki" target="_blank">Wiki</a> recreation page
                    <dd>Recreation attempt at an existing wikipedia page. Utilizing html, CSS and Bootstrap.</dd></li>
                  <li><a href="https://github.com/MikeAlphaBravo/AnimalShelterWebsite" target="_blank">Animal Shelter Website</a>
                    <dd>Starting blocks of floats and image usage. Utilizing html, CSS.</dd></li>
                  <li><a href="https://github.com/MikeAlphaBravo/funkadelic" target="_blank">Funkadelic</a> fanpage
                    <dd>Working with text and simple html/css. Utilizing html, CSS.</dd></li>
                  <li><a href="https://github.com/MikeAlphaBravo/my-first-webpage" target="_blank">My First Webpage</a> practice tasks
                    <dd>First steps towards becoming a developer. Utilizing html.</dd></li>
                  <li><a href="http://www.lloydcenter.com/renovation" target="_blank">Stair rail/balcony design and manufacturing</a>
                    <dd>The glass railing I worked on through my company to match existing plans and installations for a new glass railing throughout.</dd></li>
                  <li><a href="http://www.shelterwise.com/#!about/c1enr" target="_blank">Tiny House Design</a>
                    <dd>Many of the projects I worked out through my months with ShelterWise LLC.</dd></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="panel panel-info">
              <div class="panel-heading-custom">
                <h2 class="panel-title">RESUME</h2>
              </div>
              <div class="panel-body">
                <ol>
                  <li>Boden Alexander, Engineer/Designer
                    <dd>07/15 - PRESENT</dd></li>
                  <li>National Science Foundation, Expedition Outfitter/Carpenter/Fuelie
                    <dd>McMurdo Station, Antarctica and Greenland</dd>
                    <dd>08/09 seasonaly through 02/17</dd></li>
                  <li>Shelter Wise Tiny Home Builder, Designer
                    <dd>08/14 - 03/15</dd></li>
                  <li>United States Peace Corps Romania, Volunteer Community Economical Development
                    <dd>02/08 - 08/09</dd></li>
                  <li>Collins Woerman Architects, Architect
                    <dd>06/06 - 02/08</dd></li>
                  <li>McKibben+Cooper Architects, Intern
                    <dd>06/05 - 06/06</dd></li>
                </ol>
              </div>
            </div>
            <div class="panel panel-info">
              <div class="panel-heading-custom">
                <h2 class="panel-title">EDUCATION</h2>
              </div>
              <div class="panel-body">
                <ul>
                  <li>Masters in Architecture, University of Idaho 2006</li>
                  <li>Bachelors in Architecture, University of Idaho 2005</li>
                  <li>Associates in Architecture, Boise State University 2002</li>
                  <li><!--Certificate of Completion, Epidodus Code Academy 2018--></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-1">
            <!--blank-->
          </div>
        </div>
      </div>
      <div class="container4">
        <div class="footer">
          <p>Orange you glad I didn't say banana?</p>
        </div>
      </div>
